// extend 를 사용할 때는 %로 만들고 @extend 로 사용함
// 코드를 재사용할 때 아주 유용함

%button {
  font-family: inherit;
  border-radius: 7px;
  font-size: 50px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: royalblue;
  color : white;
  font-weight: 600;
  margin: 10px;
}