@import "_mixins";

h1 {
  @include title;
  @include responsive("iphone") {
    color : yellow;
  }
  @include responsive("tablet") {
    color : green;
  }
  @include responsive("iphone-l") {
    color : pink;
  }
}
